.book-section {
  margin-top: 1rem;
}
.book-content {
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  @media (max-width: 1200px) {
    flex-direction: column-reverse;
    align-items: center;
  }
  @media (max-width: 500px) {
    flex-direction: column;
  }
}
.book-popup {
  background-color: #151623;
  max-width: 10rem;
  border-radius: 0.625rem;
  padding: 1rem 0.5rem;
  text-align: center;
  color: rgb(182, 180, 180);
}
.popup-hide {
  display: none;
}
.popup-green {
  border: 1px solid #2a2a30;
}
.popup-red {
  border: 1px solid rgb(73, 11, 9);
}
