.book__info {
  width: auto;
  height: auto;
  background-color: #0f101b;
  border: 1px solid #2a2a30;
  max-width: 600px;
  padding: 2rem;
  border-radius: 36px;
  @media (max-width: 1200px) {
    max-width: 800px;
  }
  @media (max-width: 500px) {
    padding: 1.5rem;
  }
}
.book__info h2 {
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  width: auto;
  @media (max-width: 500px) {
    font-size: 1.2rem;
  }
}
.book__info p {
  color: #e2e2e7;
  width: auto;
  @media (max-width: 300px) {
    font-size: 0.8rem;
  }
}
.book__info form {
  max-width: 500px;
  @media (max-width: 1200px) {
    max-width: 800px;
  }
}
.book__label {
  color: rgb(167, 164, 164);
}
.book__grid {
  margin: 3rem 0rem;
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (max-width: 800px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}
.book__input {
  background-color: #151623;
  border: 1px solid #2c2d39;
  border-radius: 8px;
  padding: 10px 12px;
  color: white;
  font-weight: 700;
  width: auto;
  @media (max-width: 500px) {
    padding: 10px 5px;
  }
}
.book__input::placeholder {
  color: #878d99;
}
.book__category {
  font-size: 0.94rem;
  margin-bottom: 1.5rem;
}
.book__input__flex {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-self: start;
  gap: 0.7rem;
  margin-bottom: 2rem;
}
.book__input__div {
  display: flex;
  gap: 0.2rem;
  font-family: "Inter", sans-serif;
}
.book__radio {
  display: inline-block;
  width: 20px;
}
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #333;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  outline: none;
  margin-right: 5px;
  background-color: transparent;
  cursor: pointer;
}
input[type="radio"]:checked {
  background-image: url(../images/check.png);
  background-size: 16px;
  background-repeat: no-repeat;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.book__check__div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #333;
  border-radius: 20%;
  width: 18px;
  height: 18px;
  outline: none;
  margin-right: 5px;
  background-color: transparent;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background-image: url(../images/check.png);
  background-size: 16.5px;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.book__textarea {
  background-color: #151623;
  border: 1px solid #2c2d39;
  resize: none;
  font-family: "Inter", sans-serif;
  padding: 0.7rem 1rem 1rem 0.7rem;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  height: 200px;
  max-height: 200px;
  color: white;
  margin-bottom: 1rem;
  @media (max-width: 1200px) {
    max-width: 800px;
  }
}
.book__textarea::placeholder {
  color: #878d99;
  font-weight: 500;
  font-size: 0.9rem;
}
.book__bottom {
  border-top: 1px solid #202633;
  padding: 2rem 0rem;
}
.book__tos {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}
.book__submit {
  font-size: 0.875rem;
  font-family: "Inter", sans-serif;
  border: 1px solid #726690;
  border-radius: 10px;
  color: #f4f0ff;
  text-align: center;
  line-height: 20px;
  font-weight: 500;
  z-index: 1;
  cursor: pointer;
  background: radial-gradient(
      231.94% 231.94% at 50% 100%,
      #8a6cff 0,
      rgba(53, 41, 128, 0) 25.24%
    ),
    linear-gradient(180deg, rgba(243, 238, 255, 0), rgba(243, 238, 255, 0.04)),
    rgba(147, 130, 255, 0.01);
  box-shadow: 0 0 0 0 rgba(16, 0, 51, 0.4), 0 2px 5px 0 rgba(16, 0, 51, 0.39),
    0 8px 8px 0 rgba(16, 0, 51, 0.34), 0 19px 11px 0 rgba(16, 0, 51, 0.2),
    0 34px 14px 0 rgba(16, 0, 51, 0.06), 0 53px 15px 0 rgba(16, 0, 51, 0.01),
    inset 0 0 12px 0 hsla(0, 0%, 100%, 0.08), inset 0 -8px 32px 0 #1e0d49;
  padding: 8px 17px;
  transition: all 0.3s ease-in-out;
}
.book__submit:hover {
  background-color: #513f96;
}
.book__submitted{
  color: white !important;
  margin-top: 3rem;

}
