.join-section {
  margin-top: 3rem;
  padding: 2rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.join-content {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.join__content__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.join__content__text h1 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 5.2rem;
  line-height: 1.1;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  @media (max-width: 1000px) {
    font-size: 4rem;
  }
  @media (max-width: 600px) {
    font-size: 3.5rem;
  }
  @media (max-width: 400px) {
    font-size: 3rem;
  }
  @media (max-width: 350px) {
    font-size: 2.5rem;
  }
  @media (max-width: 320px) {
    font-size: 2rem;
  }
}
.join__content__text h1 span {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    50deg,
    #a279e7,
    #b68bf5 20%,
    #c89cfb 40%,
    #d7aef8 60%,
    #e4c1fc 80%,
    #f0d6ff 100%
  );
  color: transparent;
}

.join__buttons a {
  display: flex;
  gap: 0.3rem;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif;
  border-radius: 0.625rem;
  position: relative;
  text-align: center;
  line-height: 1.2rem;
  font-weight: 500;
  z-index: 1;
  cursor: pointer;
  background: #fff;
  padding: 0.6rem 1.1rem;
  transition: all 0.3s ease-in-out;
  color: black;
  @media (max-width: 1000px) {
    text-align: start;
    padding: 0.7rem 1.5rem;
  }
  @media (max-width: 400px) {
    padding: 0.7rem 0.7rem;
  }
}
.join__buttons a:hover {
  background: #e7c8f5;
}
