.burger__container {
  width: 95.5%;
  height: 90vh;
  margin: 0.5rem;
  top: 0;
  border-radius: 0.625rem;
  position: fixed;
  z-index: 2;
  padding: 1rem;
  background-color: #000000;
  display: none;
  transition: all 0.2s ease-in-out;
}

.burger__top__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.burger__top__container div {
  background-color: #5f5e5e;
  border-radius: 100%;
  width: 1.5625rem;
  height: 1.5625rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.burger__top__container div:hover {
  background-color: #8a8a8a;
}

.close-mobile {
  width: 0.875rem;
  height: 0.875rem;
  margin-top: 0.3125rem;
  margin-right: 1px;
}

.burger__top__container p {
  font-size: 0.75rem;
  color: #9e9d9d;
  font-weight: 400;
}

.burger__title {
  font-size: 0.75rem;
  color: #9e9d9d;
  font-weight: 400;
  margin-top: 1rem;
}

.burger__row__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.burger__row__item img {
  width: 1.5625rem;
}

.burger__row__item p {
  transition: all 0.2s ease-in-out;
}

.burger__row__item p:hover {
  color: #e7c8f5;
}

.burger__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #262626;
}

.burger__book {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  gap: 0.3rem;
  line-height: 1.25rem;
  position: relative;
  z-index: 1;
  background-color: white;
  width: 100%;
  border-radius: 10px;
  color: #000000;
  text-align: center;
  padding: 0.3125rem 1.0625rem;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}

.burger__book:hover {
  background-color: #e7c8f5;
}

.burger__login {
  color: white;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.burger__login:hover {
  color: rgb(236, 235, 235);
}

.burger__links {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* Media Queries */
@media (max-width: 500px) {
  .burger__row__item img {
    width: 1.25rem;
  }

  .burger__grid {
    grid-template-columns: 1fr;
    grid-row-gap: 0.7rem;
  }

  .buger__lower {
    display: none;
  }
}

@media (max-width: 300px) {
  .burger__links {
    flex-direction: column;
  }
}
