footer {
  margin: 10rem 0rem 5rem 0rem;
  @media (max-width: 750px) {
    margin-bottom: 9rem;
  }
}
.footer__container {
  width: 80%;
  margin: auto;
  @media (max-width: 1500px) {
    width: 90%;
  }
}
.footer__bottom {
  margin-top: 2rem;
  height: 1px;
  width: auto;
  border-top: 1px solid #3a3a3a;
}
.footer__bottom__text {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  @media (max-width: 750px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
.footer__bottom__text p {
  color: #868585;
  font-size: 0.93rem;
  @media (max-width: 300px) {
    font-size: 0.83rem;
  }
}
.footer__terms {
  color: #9b9a9a;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.footer__terms:hover {
  color: #e0e0e0;
}
