.nav {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}
.navbar {
  align-items: center;
  border-bottom: 1px solid rgb(32, 32, 32, 0.6);
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 100rem;
  padding: 1rem 2rem 0.9rem 2rem;
  z-index: 100;
  @media (max-width: 1000px) {
    justify-content: space-between;
  }
  @media (max-width: 600px) {
    padding: 1rem 1rem;
  }
}
.nav__name {
  font-weight: 500;
  font-size: 1.5rem;
}
.navbar ul {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: center;
  list-style: none;
  @media (max-width: 850px) {
    display: none;
  }
}
.navbar ul li {
  align-items: center;
  display: flex;
  justify-content: center;
}
.navbar ul a {
  font-size: 0.95rem;
  transition: all 0.2s ease-in-out;
}

.navbar ul a:hover {
  color: var(--primary);
}

.navbar span {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.nav__button {
  border-radius: 0.625rem;
  cursor: pointer;
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  gap: 0.3rem;
  line-height: 1.25rem;
  position: relative;
  text-align: center;
  z-index: 1;
  border: 1px solid #fff;
  background: #fff;
  padding: 8px 17px;
  transition: all 0.3s ease-in-out;
  color: black;
  font-weight: 500;
  @media (max-width: 500px) {
    display: none;
  }
}
.nav__button:hover {
  background: #e7c8f5;
}
.nav__login {
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.nav__login:hover {
  color: rgb(209, 207, 207);
}
.nav__arrow {
  font-size: 0.7rem;
  left: 0;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.hamburger-menu {
  display: none;
  cursor: pointer;
  font-size: 2.7rem;

  @media (max-width: 850px) {
    display: flex !important;
  }
}
.nav__a {
  display: flex;
  align-items: center;
}
.nav__logo {
  width: 30px;
}
