
  .support{
    border-left: 1px solid rgb(44, 44, 48);
    position: fixed;
    max-width: 30rem;
    width: 25%;
    z-index: 10000;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: #131315;
  }
  .support__top{
    background-color: #714dff;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
  }
  .support__close{
    cursor: pointer;
    font-size: 1.2rem;
  }
  .support__middle{
    padding: 1.5rem 0.5rem 0rem 0.5rem
  }
  .support__middle p{
    font-weight: 500;
  }