.purchasenav {
  background-color: #131315;
  border-bottom: 1px solid #2c2c30;
}
.purchasenav__container {
  color: rgb(195, 195, 198);
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  margin: auto;
  max-width: 1400px;
  padding: 1.3rem 2rem;
  @media (max-width: 650px) {
    padding: 1.3rem 1rem;
  }
}
.purchasenav__close {
  color: rgb(195, 195, 198);
  transition: all 0.2s ease-in-out;
}
.purchasenav__close:hover{
    color: white;
}
