.purchase__container {
  display: flex;
}
.purchase__left {
  padding-top: 4.12rem;
  background-color: #18181b;
  height: 90vh;
  width: 35%;
  color: rgb(255, 255, 255);
  border-right: 1px solid #2c2c30;
  @media (max-width: 850px) {
    display: none;
  }
}

/*right*/
.purchase__right {
  width: 65%;
  background-color: #1c1c21;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.purchase__title{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
}
.purchase__price{
    color: #C3C3C6;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.purchase__price__des{
    color: #C3C3C6;
    font-size: 0.9rem;
    margin-bottom: 0.7rem;
}
.purchase__price__des a {
    color: #C3C3C6;
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
}
.purchase__price__des a:hover{
    color: #f3f3f3;
}
.purchase__box{
    border: 1px solid #3f3f42; 
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
    display: flex;
    max-width: 650px;
    justify-content: space-between;
    block-size: 80px;
}
.purchase__box__left{
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
}
.purchase__box__button__not{
    height: 15px;
    background-color: #424248;
    border: 1px solid #6f6f75;
    width: 15px;
    border-radius: 100%;
}
.purchase__box__text{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.purchase__box__title{
    font-size: 0.95rem;
    font-weight: 600;
    color: #515155;
}
.purchase__box__des{
    color: #515155; 
}
.purchase__box__text{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.purchase__box__title2{
    font-size: 0.95rem;
    font-weight: 600;
    color: #b4b4b4; 
}
.purchase__box__des2{
    color: #b4b4b4; 
}

.purchase__box__right{
    display: inline;
    background-color: rgb(66, 66, 72);
    border: 1px solid rgb(66, 66, 72);
    padding: 5px 12px;
    block-size: 32px;
    border-radius: 16px;
    color: rgb(128, 128, 131);
    font-size: 14px;
}
.purchase__box__right2{
    display: inline;
    background-color: rgb(90, 90, 95);
    border: 1px solid rgb(66, 66, 72);
    padding: 5px 12px;
    block-size: 32px;
    border-radius: 16px;
    color: #cfcfcf; 
    font-size: 14px;
}