.signup__container {
  display: flex;
  color: black;
}
/* rigth */
.signup__right {
  height: 100vh;
  width: 50%;
  background-color: white;
  padding-top: 3.5rem;
  @media (max-width: 850px) {
    background: radial-gradient(
        55.87%55.87%at 35.49%-18.37%,
        #d1aad7 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      radial-gradient(
        70.81%48.44%at -24.53%-16.02%,
        #c88bc4 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      radial-gradient(
        91.61%92.58%at 104.86%-43.36%,
        #7b8fdd 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      radial-gradient(
        50.59%55.55%at -2.99%-8.69%,
        #86bff2 9.06%,
        rgba(255, 255, 255, 0) 100%
      ),
      #f7fafc;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
  }
}
.signup__right__content {
  max-width: 600px;
  padding: 0rem 2rem;
  @media (max-width: 400px) {
    padding: 0rem 1rem;
  }
  @media (max-width: 300px) {
    padding: 0rem 0.5rem;
  }
}
.signup__top {
  margin-bottom: 12rem;
  display: flex;
  justify-content: space-between;
}
.signup__top__larger {
  @media (max-width: 450px) {
    display: none;
  }
}
.signup__smaller {
  display: none;
  color: black;
  font-weight: 500;
  font-size: 1rem;
  @media (max-width: 450px) {
    display: block;
  }
}
.signup__login {
  color: black;
  font-weight: 500;
  font-size: 1rem;
}
.signup__form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup__form h3 {
  font-weight: 400;
  text-align: start;
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #e2e8f0;
}
.signup__input {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  margin-left: 0.8rem;
  padding-right: 5rem;
  @media (max-width: 450px) {
    max-width: 200px;
    padding-right: 2rem;
  }
}
input:focus {
  outline: none;
}
.signup__input__div {
  background-color: #edf2f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.7rem 1rem;
  border-radius: 6px;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
  @media (max-width: 450px) {
    padding: 0.7rem 0.5rem;
  }
}
.signup__input__div:hover {
  background-color: #edebf4;
}
.signup__button {
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 46px;
  text-align: center;
  height: 46px;
  margin: 32px 0 0;
  padding: 0rem 9rem;
  border: 0;
  border-radius: 24px;
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  @media (max-width: 450px) {
    padding: 0rem 6rem;
  }
}
.signup__button:hover {
  background: #2b2a2a;
}

/* left */

.signup__left {
  padding-top: 4.12rem;
  background: radial-gradient(
      55.87%55.87%at 35.49%-18.37%,
      #d1aad7 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      70.81%48.44%at -24.53%-16.02%,
      #c88bc4 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      91.61%92.58%at 104.86%-43.36%,
      #7b8fdd 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      50.59%55.55%at -2.99%-8.69%,
      #86bff2 9.06%,
      rgba(255, 255, 255, 0) 100%
    ),
    #f7fafc;
  height: 100vh;
  width: 50%;
  color: black;
  @media (max-width: 850px) {
    display: none;
  }
}
.signup__left__content {
  display: flex;
  justify-content: center;
}
.signup__left__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 500px;
}
.signup__left__title h3 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.signup__left__title p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  max-width: 400px;
}
.signup__box {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.signup__box__title {
  font-weight: 600;
  color: #000;
  margin-bottom: 1rem;
}
.signup__box__des {
  margin-bottom: 0.5rem;
}
.signup__reset {
  margin-bottom: 1rem;
  color: green;
  display: none;
}
