.dashbottom {
  background-color: #131315;
  padding: 0rem 0rem 8rem 0rem;
}
.dashbottom__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  max-width: 1200px;
  padding: 0rem 1rem;
}
.dashbottom__one {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}
.dashbottom__one p {
  font-size: 1.3rem;
  font-weight: 500;
}
.dashbottom__purchase {
  align-items: center;
  border-radius: 5px;
  border: 1px solid #776b96;
  background: radial-gradient(
      231.94% 231.94% at 50% 100%,
      #8a6cff 0,
      rgba(53, 41, 128, 0) 25.24%
    ),
    linear-gradient(180deg, rgba(175, 29, 219, 0), rgba(243, 238, 255, 0.04)),
    rgba(147, 130, 255, 0.01);
  box-shadow: 0 0 0 0 rgba(16, 0, 51, 0.4), 0 2px 5px 0 rgba(16, 0, 51, 0.39),
    0 8px 8px 0 rgba(16, 0, 51, 0.34), 0 19px 11px 0 rgba(16, 0, 51, 0.2),
    0 34px 14px 0 rgba(16, 0, 51, 0.06), 0 53px 15px 0 rgba(16, 0, 51, 0.01),
    inset 0 0 12px 0 hsla(0, 0%, 100%, 0.08), inset 0 -8px 32px 0 #361b7a;
  color: #f4f0ff;
  cursor: pointer;
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  gap: 0.5rem;
  line-height: 20px;
  padding: 8px 20px;
  position: relative;
  text-align: center;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  @media (max-width: 290px) {
    display: none;
  }
}
.dashbottom__purchase:hover {
  background-color: #8a6cff;
}
.dashbottom__two {
  align-items: center;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  @media (max-width: 700px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.dashbottom__box {
  background-color: rgb(28, 28, 33);
  border-radius: 16px;
  border: 1px solid rgb(44, 44, 48);
  column-gap: 1rem;
  display: grid;
  grid-template-areas:
    "end-start end-end"
    "start-start start-end";
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  height: 100%;
  max-width: 100%;
  min-height: 300px;
  padding: 32px;
  position: relative;
  row-gap: 3rem;
  @media (max-width: 270px) {
    padding: 16px;
  }
}
.dashbottom__box__location {
  bottom: 0;
  color: #c3c3c6;
  font-weight: 400;
  padding: 2rem 2rem;
  position: absolute;
  right: 0;
}
.dashbottom__box__text span {
  color: #c3c3c6;
  font-size: 0.9rem;
  font-weight: 500;
}
.dashbottom__box__text p {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.1rem;
}
.dashbottom__three {
  display: flex;
  justify-content: space-between;
  @media (max-width: 500px) {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
.dashbottom__three__options {
  display: flex;
  gap: 2rem;
  margin-right: 1rem;
}
.dashbottom__option {
  align-items: center;
  color: rgb(114, 114, 119);
  cursor: default;
  display: flex;
  font-weight: 500;
  gap: 0.7rem;
}
.dashbottom__three__options button {
  background-color: rgb(66, 66, 72);
  block-size: 32px;
  border-radius: 5px;
  border: 1px solid rgb(66, 66, 72);
  color: rgb(195, 195, 198);
  font-weight: 600;
  padding: 0px 12px;
}
.dashbottom__icon {
  font-size: 0.7rem;
  font-weight: 800;
}
.dashbottom__selector {
  background-color: rgb(24, 24, 27);
  border-radius: 4px;
  border: 1px solid rgb(66, 66, 72);
  color: rgb(151, 151, 153);
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  padding: 9.5px;
  width: 80px;
  @media (max-width: 500px) {
    display: none;
  }
}
.dash__loading{
  height: 80vh;
}