.dashnav {
  background-color: #131315;
  border-bottom: 1px solid #2c2c30;
  padding: 0rem 2rem;
}
.nav__container{
    display: flex;
    justify-content: space-between;
}
.nav__left__logo {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 1rem 0rem;
}
.nav__left__logo img {
  width: 20px;
}
.nav__left__logo__name {
  font-size: 1.2rem;
  font-weight: 500;
}
.nav__beta {
  block-size: 28.5469px 25px;
  font-weight: 500;
  letter-spacing: 1.68px;
  line-height: 18.4px;
  color: #bfbdc2;
  font-size: 12px;
  border-radius: 20px;
  padding: 4px 12px;
  background-color: #424248;
  margin-left: 0.7rem;
}
.nav__right{
    border-left: 1px solid #2c2c30;
    padding-left: 1.5rem;
}
.nav__right__flex img{
block-size: 40px;
border-radius: 50%;
}