.dashtwo {
  background-color: #131315;
  padding: 0rem 0rem 8rem 0rem;
  height: 65vh;
}
.dashtwo__container {
  margin: auto;
  max-width: 75rem;
  padding: 0rem 1rem;
}
.dashbottom__one {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}
.dashtwo__title {
  padding-top: 4rem;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.dashtwo__title span {
  padding: 0.3125rem 0.75rem;
  border: 1px solid rgb(66, 66, 72);
  background-color: rgb(44, 44, 48);
  border-radius: 1rem;
  color: rgb(195, 195, 198);
  font-size: 0.875rem;
  @media (max-width: 400px) {
    display: none;
  }
}
.dashtwo__flex {
  display: flex;
  gap: 1rem;
}
.dashtwo__three {
    margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  @media (max-width: 500px) {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
.dashtwo__two{
  border: 1px solid #2C2C30;
  border-radius: 1.25rem;
  background-color: #1C1C21;
}
.dashtwo__item__container{
  border-bottom: 1px solid rgb(66, 66, 72);
  padding: 1rem;
}
.dashtwo__item__container2{
  padding: 1.5rem;
  color: rgb(195, 195, 198);
  font-size: 0.875rem;
}
.dashtwo__title__flex{
  max-width: 37.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
  overflow-x: auto;
  @media (max-width: 650px) {
    gap: 1rem;
  }
}
.dashtwo__title__flex p{
  color: rgb(195, 195, 198);
  font-size: 0.875rem;
  font-weight: 500;
}
.dashtwo__user__img{
  display: flex;
  gap: 0.7rem;
  align-items: center;
}
.dashtwo__user__img img{
  border-radius: 100%;
  width: 2.5rem;
  @media (max-width: 400px) {
    display: none;
  }
}
.dashtwo__bottom{
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 1rem;
  @media (max-width: 650px) {
    flex-direction: column;
  }
}
.dashtwo__bottom button{
  background-color: rgb(28, 28, 33);
  border: 1px solid rgb(66, 66, 72);
  padding: 0.625rem 1rem;
  color: rgb(168, 168, 170);
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: not-allowed;
}