.loading__opacity {
  background-color: black;
}
.loading__div {
  filter: blur(2px);
  height: 100vh;
  opacity: 0.7;
  width: 100vw;
}
.dash__filler {
  background-color: #131315;
  height: 16.1vh;
}
