.loading__opacity {
  background-color: black;
}
.loading__div {
  filter: blur(2px);
  height: 100vh;
  opacity: 0.7;
  width: 100vw;
}
.spinner {
  animation: spin 1s ease-in-out infinite;
  border-radius: 50%;
  border-top-color: #db347a;
  border: 4px solid rgba(255, 255, 255, 0.1);
  height: 100px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  z-index: 100;
}
.dash__filler {
  background-color: #131315;
  height: 16.1vh;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
