.loading__div {
  height: 100vh;
  width: 100vw;
  background-color: #101011;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading__flex img {
  width: 100px;
  @media (max-width: 400px) {
    width: 80px;
  }
}

.loading__flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
